.dropdown{
    display: flex;
    position: absolute; 
    width: 75px;
    height: 75px;
    flex-direction: column;

}

.targetingBox{
    width: 75px;
    height: 75px;
    border: 2px solid black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;

}

.charactersList{
    display: flex;
    gap: 1rem;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}

.pointer{
    border-radius: 50%;
    background-color: red;
    width: 10px;
    height: 10px;

    
}


.alert{
    position: absolute;
    left: 50%;
    bottom: 1rem;
    width: 15rem;
    transform: translate(-50%, -50%);
    border-radius: 2rem;
    padding: 1rem;
    background-color: black;
    font-size: 1.3rem;
    color: white;
    z-index: 11;
}