.dropdown{
    display: flex;
    position: absolute; 
    width: 75px;
    height: 75px;
    flex-direction: column;
}

.targetingBox{
    width: 75px;
    height: 75px;
    border: 2px solid black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;

}

.charactersList{
    display: flex;
    flex-direction: column;
    
}

.pointer{
    border-radius: 50%;
    background-color: red;
    width: 10px;
    height: 10px;

    
}


.listItem{
    width: 200px;
    background-color: var(--main-color);
    padding: 1rem;
    display: flex;
    margin: 0;
    align-items: center;
    gap: 1rem;
    color: white;
    position: relative;


}

.listItem:hover{
    cursor: pointer;
    background-color: black;
}
.listItem img{
    height: 50px;
    object-fit: contain;

}