.dropdown{
    display: flex;
    position: absolute; 
    width: 75px;
    height: 75px;


}

.targetingBox{
    width: 75px;
    height: 75px;
    border: 2px solid black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}

.charactersList{
    display: flex;
    gap: 2rem;
    padding: 2rem;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    bottom: 5rem;
    padding: 0;
    border: 2px solid;
}

.pointer{
    border-radius: 50%;
    background-color: red;
    width: 10px;
    height: 10px;
    
}