.imageContainer{
    margin: auto;
    border: 2px solid;
    width: 100%;

}

.image{
    width: 100%;
    object-fit: contain;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid;
    position: relative;
    overflow: hidden;
}

.alert{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    border-radius: 2rem;
    padding: 1rem;
    background-color: black;
    font-size: 2rem;
    color: white;
    z-index: 11;
}