.imageContainer{
    margin: auto;
    margin-top: 10rem;
    border: 2px solid;
    width: 100%;
}

.image{
    width: 100%;
    object-fit: contain;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid;
}