.header{
    color: white;
    background-color: var(--main-color);
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-around;
}

.header a{
    color: var(--secondary-color);
}