.header{
    color: white;
    background-color: var(--main-color);
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header a{
    color: var(--secondary-color);
}

.title{
    color: var(--secondary-color);
    font-size: 2rem;
}

@media (max-width: 600px){
    .header{
        flex-direction: column;
    }
}