.header{
    color: white;
    background-color: var(--main-color);
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    position: relative;
    z-index: 1;
}