:root{
    --main-color: rgb(33, 32, 32);
    --secondary-color: rgba(203, 255, 70, 0.866);
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    height: 100vh;    
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
}

#root{
    height: 100vh;
}